article.hotel {
  position: relative;
  height: rem(450);
  cursor: pointer;
  @include transition(transform 0.2s);

  &:hover { @include transform(scale(1.05)); }

  .name-rating-container h3 {
    @include transition(color 0.5s);
    
    &:hover { color:$orange; }
  }

  .content-wrapper {
    position: relative;
    
    .photo-icon {
      @include transition(background 0.5s);
      background-color: $halfblack;
      position: absolute;
      top: rem(10);
      right:rem(10);
      padding:rem(10);
      text-align: center;
      cursor: pointer;

      span {
        color: $white;
        display: block;
        line-height: rem(10);

      }

      i.icon {
        display: block;
        text-align: center;
        margin-bottom: rem(10);

        &:before {
          @include fa-icon();
          content:$fa-var-photo;
          color: $white;
          display: block;
        }
      }

      &:hover { background: $orange }
    }

    .image-container {
      .image {
        @include transition(all, 0.3s);
        width: auto;
        height: rem(350);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .overlay-container {
      @include clearfix;
      background-color: $halfblack;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding:rem(20);

      .price-area {
        @extend .left;
        position: relative;
        top: rem(15);

        a.carrot {
          display: block;
          margin-top: rem(5);
        }

        span.price {
          @include header;
          color: $white;
          font-size: rem(40);
          display: block;
          margin: 0;
        }
      }
      .action-area {
        @extend .right;
        button.book-button,
        a.carrot {display: block;}
      }

      a.carrot {
        @include transition(color, 0.5s);
        text-decoration: none;
        color: rgba($white, 0.5); 
        cursor: pointer;
        &:hover { color:$white; }

        &:after {
          @include fa-icon();
          content:$fa-var-chevron-right;
          color: $orange;
          margin-left: rem(5);
        }
      }
    }
  }
}