body.layers-example { background: $black }

.page {
  background: $black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow:hidden;

  &.serp {
    background: $white;
    &.ng-enter { @extend .pt-page-moveFromLeft }
    &.ng-leave { @extend .pt-page-moveToLeft }
  }

  &.pdp {
    background: $white;
    &.ng-enter { @extend .pt-page-moveFromRight }
    &.ng-leave { @extend .pt-page-moveToRight }
  }
}

#header {
  background: $light;
  padding: rem(20);
}

#split-view-container {
  @include outer-container(100%);

  #page-content,
  #map-content {
    padding: rem(20);
    height: 100vh;
  }
}

#page-content {
  background: $red;
  @include span-columns(8, block-collapse);

  .clearfix { @include clearfix; }

  .panel {
    background: $halfblack;
    padding: rem(40);
    text-align: center;
    margin: rem(1);
    &.box { width: 48% }
  }
}

#map-content {
  background: $green;
  @include span-columns(4, block-collapse);

}