#serp-container {
  
  #sidebar,
  #ui-container,
  #map {
    min-height: rem(500);
    height:100vh;
  }

  #ui-container {
    @include span-columns(9, block-collapse);
    background: $white;

    #sidebar {
      @include span-columns(2 of 9, block-collapse);
      padding: rem(20);
      background: $white;
      border-right: 1px solid $ccc;

      #logo { margin-bottom: rem(20) }

      #price-filter,
      #sort_by,
      #ota,
      #amenities,
      #rating {
        margin-top: rem(20);
      }

      
      
    }
  }
  #map-container {
    @include span-columns(3, block-collapse);
    
  }
}