#trip-details {
  cursor: pointer;

  .detail-section {
    .city {
      font-weight: bold;
      display: block;
      margin: 0;

      &:after {
        @include fa-icon();
        content:$fa-var-pencil;
        color: $orange;
        margin-left: rem(10);
      }
    }

    .trip-data {
      color: $silver;
      font-weight: lighter;
    }
  }
}