@charset "utf-8";
@import "normalize";
@import "bourbon";
@import "neat";
@import "font-awesome";
@import "colors";
@import "functions";
@import "mixins";
@import "animations";
@import "grid";
@import "typography";

/* UI SCSS */
@import "hotel-cards";
@import "cards";
@import "rating";
@import "dropdowns-and-flyouts";
@import "price-slider";
@import "buttons";
@import "trip-details";
@import "checkboxes-and-radios";
@import "map-points";
@import "ota-list";
@import "focus-window";
@import "form-fields";
@import "layers";

/* Global */
section#colors,
section#typography,
section#ui-elements,
section#form-fields,
section#focus-window,
section#cards
{
  border-bottom: 1px solid $mid;
  article {
    &.container {
      padding: rem(20) 0;
    }
  }
}
/* Colors Section */
#colors {
  article.card {
    @include card;
    
    .swatch { 
      height: rem(50);
      margin-bottom: rem(5);
    }
  }
}

/* Buttons */
.button-examples,
.concept-tags-examples {
  button { margin-bottom: rem(5) }
}