@charset "utf-8";
@import "normalize";
@import "bourbon";
@import "neat";
@import "font-awesome";
@import "colors";
@import "typography";
@import "functions";
@import "mixins";
@import "animations";
@import "grid";
@import "cards";
@import "rating";
@import "form-elements";
@import "buttons";

/* Global */
section#colors,
section#typography,
section#ui-elements,
section#cards
{
  border-bottom: 1px solid $mid;
  article {
    &.container {
      padding: rem(20) 0;
    }
  }
}
/* Colors Section */
#colors {
  article.card {
    @include card;
    
    .swatch { 
      height: rem(50);
      margin-bottom: rem(5);
    }
  }
}

/* Buttons */
.button-examples,
.concept-tags-examples {
  button { margin-bottom: rem(5) }
}