%section#cards
  %article.container
    .row
      .span-12
        %h1 Cards

    .row
      -4.times do |num|
        .span-3
          %article.hotel{role:'hotel-card'}
            .content-wrapper
              .image-container
                %div{class:'image', style:"background-image:url(/images/hotels/thumb-1.jpeg)"}
              
              .price-fav-ota-container
                .left
                  %span.price 350
                  %a.carrot{href:'#'} On Expedia
                .right
                  .favorite-icon
                    %i.heart-icon
            .name-rating
              %h3="Hotel #{lorem.name} resort"
              =partial 'partials/rating'

              .you-like-container
                %label You like this because
                %p.sans swimming pool, tacos, roomservice

              .action
                %button.book-button{type:'button'} Book Now