%section#cards
  %article.container
    .row
      .span-12
        %h1 Hotel Cards
        =yield_content(:hotelcard_docs)
    .row
      -3.times do |num|
        .span-4
          =partial 'partials/hotel-card'
