%section#focus-window
  %article.container
    .row
      .span-12
        %h1 Focus window

  %article.container
    .row
      .span-4
        %div.card.focus-element
          %h2 Apples
          %p.lead.quote=lorem.sentences(3)
      .span-4
        %div.card.focus-element
          %h2 Bananas
          %p.lead.quote=lorem.sentences(3)
      .span-4
        %div.card.focus-element
          %h2 Oranges
          %p.lead.quote=lorem.sentences(3)

.focus-overlay