%section#ui-elements
  %article.container
    .row
      .span-12
        %h1 UI Elements

    .row
      .span-4
        %h2 Buttons

        .container.button-examples
          %button.pagination-button{type:'button'} Load more
          %button.pagination-button{type:'button'} Next
          %button.pagination-button{type:'button'} Prev
          %button.pagination-button.disabled{type:'button'} Disabled
          %button.pagination-button.active{type:'button'} active
          %div
            -5.times do |num|
              %button.pagination-button{type:'button'}=num
          %button.book-button{type:'button'} Book Now
          %button.update-button{type:'button'} Update
          %button.update-button.icon{type:'button'}

      .span-4
        %h2 Concept tags
        %p.info.lead.quote Click to toggle states
        .container.concept-tags-examples
          -20.times do |num|
            %button.concept-button{type:'button'}=lorem.word
          
      .span-4
        %h2 Controls
        %div.mb-1
          =partial 'partials/trip-details'
        %div.mb-1
          =partial 'partials/price-slider'
        %div.mb-1
          %label.form-label Rating
          =partial 'partials/rating'
        %div.mb-1
          .dropdown-element
            %label Dropdown
            %a.current{href:'#'} Current
            %ul.dropdown
              -3.times do |num|
                %li
                  %a{href:'#'}="Option #{num}"
        %div.mb-1
          .flyout-element
            %label Amenities
            %a.trigger Choose Amenities
            %p.quote wifi, swimming pool, childcare, room service, +4 more
        
    .row
      .span-4
        %h2 Checkboxes &amp; Radios
        %div.panel.border.bg-white
          .checkbox
            %input{type:'checkbox', id:'cb1'}
            %label{for:'cb1'}=lorem.sentence
        %div.panel.border.bg-white
          -4.times do |num|
            .radio
              %input{type:'radio', name:'test', id:"r#{num}"}
              %label{for:"r#{num}"}=lorem.word
            

      .span-4
        %h2 Map Points
        %div
          =partial 'partials/map-pin', locals:{price:'$300', liked:false}
        %div
          =partial 'partials/map-pin', locals:{price:'$530', liked:true}

      .span-4
        %h2 Form Fields Here
        


