%div#side-panel-container{'ng-click' => 'openMenu()'}
  %h1 What will go here?
  %ul
    %li Destinaiton Edit Form
    %li Amenities Check List
    %li Concept list
    %li ... open to discussion
#pdp-view.main-view-wrapper
  #split-view-container
    #map-content
      Map
    #page-content
      PDP Detail
      %a{href:'/layers1.html#/serp.html'} Back to SERP
      %div
        %a.button{'ng-click' => 'openMenu()'} Open Menu