#pdp-view{style:"height: {{window_height}}px"}
  .view-wrapper
    #hotel-details
      .title-area
        %h1="Hotel #{lorem.name}"
        %a.close{href:'/layers1.html#/serp.html'} &times;
    #map
      %span Map
