#pdp-view
  #header{'ng-click' => 'openMenu()'}
    %span Header / Filters / Fixed
  #split-view-container
    #map-content
      Map
    #page-content
      PDP Detail
      %a{href:'/layers1.html#/serp.html'} Back to SERP
