#serp-view
  #header
    %span Header / Filters / Fixed
  #split-view-container
    #page-content
      SERP Results
      %a{href:'/layers1.html#/pdp.html'} View Details
    #map-content
      #map{:style => "width: 400px; height: 300px;"}