#serp-view
  #header{'ng-click' => 'openMenu()'}
    %span Header / Filters / Fixed
  #split-view-container
    #page-content
      SERP Results
      %a{href:'/layers1.html#/pdp.html'} View Details
    #map-content
