---
title: Navigato Styles
---

:markdown
  ~~~~haml
  %span.label I am a label
  ~~~~

  ~~~~haml
  %span.badge I am a badge
  ~~~~
  
=partial 'partials/sg-navigation'
=partial 'partials/app-bar'
=partial 'partials/colors'
=partial 'partials/typography'
=partial 'partials/cards'
=partial 'partials/ui-elements'
=partial 'partials/focus-window'
=partial 'partials/form-fields'


